<div class="container-table">

	<div class="div-add-button">
		<a href="/nova-empresa" mat-raised-button>Adicionar </a>
	</div>
	<table mat-table [dataSource]="empresas" class="mat-elevation-z8">
		<ng-container matColumnDef="nome">
			<th mat-header-cell *matHeaderCellDef> Nome </th>
			<td mat-cell *matCellDef="let empresa"> {{ empresa.nome }} </td>
		</ng-container>
		<ng-container matColumnDef="cnpj">
			<th mat-header-cell *matHeaderCellDef> CNPJ </th>
			<td mat-cell *matCellDef="let empresa"> {{ empresa.cnpj_mascara }} </td>
		</ng-container>
		<ng-container matColumnDef="dataFundacao">
			<th mat-header-cell *matHeaderCellDef>Data de Fundação</th>
			<td mat-cell *matCellDef="let empresa"> {{ empresa.data_fundacao_ptbr }} </td>
		</ng-container>
		<ng-container matColumnDef="acoes">
			<th mat-header-cell *matHeaderCellDef style="width: 15%;">Ações</th>
			<td mat-cell *matCellDef="let empresa">
				<button mat-button (click)="onEdit(empresa)">editar</button>
				<button mat-button (click)="onApagar(empresa)">apagar</button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="columns"></tr>
		<tr mat-row *matRowDef="let row; columns: columns;"></tr>
	</table>
</div>
